@import "tailwindcss";
@import "./spacing.css";

@theme {
  --nav-height: 64px;
  --layout-padding: 0px 32px;

  --font-color-primary: #001e2b;

  --sidebar-width: 272px;
  --sidebar-bg-color: #f9fbfa;
  --sidebar-border-default: #e1e2e4;
  --sidebar-border-active: #7d7d7d;

  --main-max-width: 1440px;
}

#container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidenav contents";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

#header {
  position: sticky;
  top: 0;
  grid-area: header;
  height: var(--nav-height);
  padding: var(--layout-padding);
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  background-color: #fff;
  z-index: 1;
  opacity: 0.9;
}

#sidenav {
  grid-area: sidenav;
  position: sticky;
  top: var(--nav-height);
  height: calc(100dvh - var(--nav-height));
  width: var(--sidebar-width);
  background-color: var(--sidebar-bg-color);
  color: oklch(44.6% 0.03 256.802);
  overflow-y: auto;
}

#contents {
  grid-area: contents;
}
