@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* code */
/* `code` 이러한 것들 */
h2 code,
h3 code {
  font-family: 'RobotoMono', monospace;
  background-color: #ececec;
  border-radius: .25rem;
  padding: .15rem .3rem;
}

li code,
p code {
  font-family: 'RobotoMono', monospace;
  background-color: #ececec;
  border-radius: .25rem;
  font-size: .875rem !important;
  font-weight: 500;
  padding: .15rem .3rem;
}

pre {
  overflow-x: auto;
  padding: 1rem 0;
  margin: 1rem 0;
  /* pre 제목 */
  margin-top: 0;
}

figure[data-rehype-pretty-code-figure] {
  position: relative;
  overflow: auto;
  max-width: calc(100dvw - 64px);
}

figure[data-rehype-pretty-code-figure]>pre {
  margin-top: 8px;
}

/* code title */
figcaption[data-rehype-pretty-code-title],
div[data-rehype-pretty-code-title] {
  width: fit-content;
  padding: 10px 14px 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #4f5356;
  color: white;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: -8px;
  user-select: none;
}

/* code copy만 있는 경우 */
figure[data-rehype-pretty-code-figure]>pre+figcaption[data-rehype-pretty-code-caption] {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 80px;
  text-align: center;
  padding: 10px 14px 4px;
  border-bottom-left-radius: 8px;
  background-color: #4f5356;
  color: white;
  cursor: pointer;
  user-select: none;
}

/* code title, copy 모두 있는 경우 */
figure[data-rehype-pretty-code-figure]>div[data-rehype-pretty-code-title]+pre+figcaption[data-rehype-pretty-code-caption] {
  top: 30px;
}

/* 코드 라인 */
pre [data-line] {
  padding: 0.03rem 1rem;
  margin-bottom: 1.5px;
}

pre code[data-line-numbers] {
  counter-reset: line;
}

pre code[data-line-numbers]>[data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 0.75rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

pre code[data-line-numbers-max-digits="2"]>[data-line]::before {
  width: 1.25rem;
}

pre code[data-line-numbers-max-digits="3"]>[data-line]::before {
  width: 1.75rem;
}

pre code[data-line-numbers-max-digits="4"]>[data-line]::before {
  width: 2.25rem;
}

/* 코드 삭제, 추가 */
[data-highlighted-line-id="minus"] {
  background-color: rgba(255, 0, 0, 0.2);
  text-decoration: line-through;
}

[data-highlighted-line-id="plus"] {
  background-color: rgba(0, 255, 0, 0.2);
}

/* heading */
#post h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 900;
  font-size: 2.625rem;
  color: #374151
}

#post h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 2.1875rem;
  font-weight: 600;
  color: #374151
}

#post h3 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #374151
}

p {
  font-size: 1rem;
  line-height: 1.6rem;
  color: #374151
}

span {
  color: #374151
}

li {
  color: #374151
}

/* block */
.info {
  position: relative;
  padding: 1rem;
  background-color: rgb(59, 158, 239, 0.6);
  border-radius: 6px;
  color: #fff;
  display: flex;
  align-items: flex-start;
}

.info-wrap {
  flex: 1
}

.info-icon {
  flex-shrink: 0;
  content: "";
  display: inline-block;
  background-image: url("/info.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 10px;
}

.info .title {
  font-size: 1.2rem;
  margin-top: 4px;
  margin-bottom: 4px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* font */
@font-face {
  font-family: 'RobotoMono';
  src: url('/fonts/code/RobotoMono-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('/fonts/code/RobotoMono-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('/fonts/code/RobotoMono-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('/fonts/code/RobotoMono-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('/fonts/code/RobotoMono-Italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('/fonts/code/RobotoMono-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('/fonts/code/RobotoMono-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('/fonts/code/RobotoMono-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('/fonts/code/RobotoMono-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('/fonts/code/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
}


code * {
  font-family: 'RobotoMono', monospace;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}

#folder_structure li span {
  line-height: 1px;
}

strong {
  font-weight: bold;
}

[data-language="env"] * {
  color: #fff !important
}

p.summary {
  font-size: 14px;
  line-height: 1.5;
}